<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Template | Home</title>
	</head>
	<body>
		<script>
			window.initialData = <%- JSON.stringify(initialData) %>;
		</script>
		<div id="root"><%- initialMarkup %></div>
	</body>
</html>
